.container {
  height: 10rem;
  position: relative;
  /* transform: translate3d(0, 25vh, 0); */
}

.greeting {
  position: absolute;
  color: #d8dee9;
  mix-blend-mode: multiply;
  font-size: 10rem;
  font-weight: 900;
}

.hero,
.heroDot {
  position: absolute;
  color: #5e81ac;
  mix-blend-mode: multiply;
  font-size: 6rem;
}

.hero {
  transform: translate3d(-4px, 0, 0);
}

.heroDot {
  display: inline;
}

.heroOverlay {
  position: absolute;
  height: 10rem;
  background: #ebcb8b;
  mix-blend-mode: multiply;
}

.headline {
  position: absolute;
  color: #4c566a;
  font-size: 1.5rem;
  font-weight: 300;
  bottom: 0;
}
@media (orientation: landscape) {
  .headline {
    max-width: 44rem;
  }
}
@media (orientation: portrait) and (max-device-width: 639px){
  .headline {
    max-width: 16rem;
  }
}