@import './../../styles/media';

.intro {
  max-width: 33rem;
  position: absolute;
  top: 21.5rem;
}

.introText {
  font-size: 1.5rem;
  text-align: justify;
  font-weight: 300;
  @include media('<M', 'portrait') {
    min-width: 30rem;
  }
}

.hrule {
  margin-block-start: 2rem;
  margin-block-end: 2rem;
  max-width: 6rem;
  text-align: left;
  margin-left: 0;
  border: 0;
  border-bottom: 1px solid var(--color-accent-4);
}
