:root {
    /* page background */
    --color-backgroud-0: #eceff4;
  
    /* primary text color */
    --color-foregroung-0: #2e3440;
    /* secondary text color */
    --color-foregroung-1: #4c566a;
  
    /* primary accent color */
    --color-accent-0: #5e81ac;
    /* secondary accent color */
    --color-accent-1: #d8dee9;
    /* ... you get the gist */
    --color-accent-3: #ebcb8b;
    --color-accent-4: #88c0d0;
  }
  